
h1 {
  color: white;
  text-align: center;
  width: 100%
}

h2 {
  color: orange;
  font-style: italic;
  text-align: center;
}

p {
  font-family: sans-serif;
  font-style: oblique;
  text-align: center;
  color: white;
}

ul {
  font-size: 20px;
  line-height: 30px;
  font-family: fantasy;
  font-style: normal;
  text-align: center;
  color: white;
}

body {
  background-image: radial-gradient(red, green, blue);
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
